body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: black;
    color: #cfcfcf;
}

.navbar{
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 28px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.logo img{
    height: 22px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding:0%;
}

.nav-links a{
    color: #cfcfcf;
    text-decoration: none;
    font-size: 14px;
}
.nav-links a:hover {
  color: white;
}

.nav-buttons{
    display: flex;
    gap: 16px;
    align-items: center;
}

.signin-btn{
    background-color: #0f0f0f;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
   font-weight: 600px;
}

.download-btn{
    background-color: #cfcfcf;
    color:#0f0f0f;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 600px; 
}

.hero {
  padding: 120px 32px;
  max-width: 900px;
}

.hero h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 28px;
}

.hero-btn {
  background: white;
  color: black;
  border: none;
  padding: 12px 22px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background: black;
    color: #cfcfcf;
}

.navbar{
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 28px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.logo img{
    height: 22px;
}

.nav-links{
    display: flex;
    gap: 24px;
    margin: 0;
    padding:0%;
}

.nav-links a{
    color: #cfcfcf;
    text-decoration: none;
    font-size: 14px;
}
.nav-links a:hover {
  color: white;
}

.nav-buttons{
    display: flex;
    gap: 16px;
    align-items: center;
}

.signin-btn{
    background-color: #0f0f0f;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
   font-weight: 600px;
}

.download-btn{
    background-color: #cfcfcf;
    color:#0f0f0f;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 600px; 
}

.hero {
  padding: 120px 32px;
  max-width: 900px;
}

.hero h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 28px;
}

.hero-btn {
  background: white;
  color: black;
  border: none;
  padding: 12px 22px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.preview {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 60px;
}

.preview img {
  width: 90%;
  max-width: 1100px;
  border-radius: 12px;
}
